<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486122560289-p17a7k2htsniev75cccg5fu173ls221a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486122560289-p17a7k2htsniev75cccg5fu173ls221a</string>
	<key>API_KEY</key>
	<string>AIzaSyBY23fTzT1qDED2thj27s_AnP9rhXo7nLo</string>
	<key>GCM_SENDER_ID</key>
	<string>486122560289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginProject</string>
	<key>PROJECT_ID</key>
	<string>login-project-be3e6</string>
	<key>STORAGE_BUCKET</key>
	<string>login-project-be3e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486122560289:ios:27f06f05d842e0c2153c60</string>
</dict>
</plist>